.App {
	margin:20px auto;
	padding:10px;
	text-align: left;
	width:50%;
	border:1px solid #444;
}
table{
	width:100%;
}
td:not(.btn){
	padding: 10px 0;
}
.alert{
	color:red;
}
.category-row{
	font-weight: bold;
	color: #fff;
	background: seagreen;
	width:100%;
}
td.btn{
	padding:0px 8px;
	background: seagreen;
	cursor: pointer;
	color: #fff;
	border-radius:4px;
	margin-left:10px;
}
td.btn:hover{
	background: darkseagreen;
}